{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="post-actions">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <form method="POST" action="{% url 'post_delete' pk=post.pk %}" style="display: inline;" onsubmit="return confirm('정말로 이 글을 삭제하시겠습니까?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.image %}
            <div class="post-image">
                <img src="{{ post.image.url }}" class="blog-image-detail" alt="{{ post.title }}">
            </div>
        {% endif %}
    </div>
{% endblock %}